[submodule "examples/nextjs-comments-with-polygon"]
	path = examples/nextjs-comments-with-polygon
	url = git@github.com:pawanpaudel93/comments-with-polygon.git
[submodule "examples/nuxtjs-nft-marketplace"]
	path = examples/nuxtjs-nft-marketplace
	url = git@github.com:pawanpaudel93/nft-marketplace.git
[submodule "examples/vuejs-longify-tiktok"]
	path = examples/vuejs-longify-tiktok
	url = git@github.com:pawanpaudel93/longify-tiktok.git
